/*
* Style Works for Editor Only
*/
// Editor Panel
.arb__panel {
	margin-bottom: 24px;
}

p.arb__label {
	margin-bottom: 12px;
	font-size: 13px;
}

.arb__icons_panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	margin-bottom: 24px;
}

.arb__icons_panel button {
	width: 25%;
	height: 40px;
	margin: 10px;
	border: 1px solid #ccc;
}
